.swipeButtons {
  position: fixed;
  bottom: 10vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
  background-color: rgb(240, 236, 236);
  box-shadow: rgba(0, 0, 0.3, 0.3);
}

.SwipeButtons__repeat {
  padding: 3vw !important;
  color: #f5b748 !important;
}

.SwipeButtons__left {
  padding: 3vw !important;
  color: #ec5e6f !important;
}

.SwipeButtons__star {
  padding: 3vw !important;
  color: #62b4f9 !important;
}

.SwipeButtons__right {
  padding: 3vw !important;
  color: #76e2b3 !important;
}

.SwipeButtons__lightning {
  padding: 3vw !important;
  color: #915dd1 !important;
}
